APP_NAME=Notifications Api
APP_VERSION=1.0
APP_HOST=0.0.0.0
APP_PORT=8000

API_ROOT_PATH=/api
API_VERSION=v1

LOG_FILE_PATH=tmp/projects.log
LOG_LEVEL=DEBUG
LOG_FORMAT=<level>{level: <8}</level> <green>{time:YYYY-MM-DD HH:mm:ss.SSS}</green> - <cyan>{name}</cyan>:<cyan>{function}</cyan> - <level>{message}</level>
LOG_ROTATION=10 days
LOG_RETENTION=1 months

DB_HOST=15.21.25.176
DB_PORT=27030
DB_NAME=satellite
DB_USER=user
DB_PASS=qwerty

NGINX_INTERNAL_PORT_HTTP=80
NGINX_EXTERNAL_PORT_HTTP=1180
NGINX_INTERNAL_PORT_HTTPS=443
NGINX_EXTERNAL_PORT_HTTPS=11443
